body {
    font-family: 'Karla', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f4f4f4;

}

h1 {
    font-family: 'Markazi Text', serif;
    color: #495E57; /* Little Lemon Dark Green */;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-banner {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 2rem;
}   

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 50%;
    
}

nav {
    background-color: #F4CE14; /* Little Lemon Yellow */;
    padding: 1rem 0;
    border-radius: 2rem;
    margin-bottom: 2rem;
}


nav ul {
    display: flex;
    justify-content: center;    
    gap: 2rem;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: #495E57;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}   
nav a:hover {
    color: 333; /* Little Lemon Dark Green */;
}

button {
    background-color: #F4CE14; /* Little Lemon Yellow */;
    color: #495E57; /* Little Lemon Dark Green */;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}   

button:hover {
    background-color: #e0b912; 
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}   

section {
    display: flex;
    justify-content: center;

}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    gap: 3rem;  
    margin-top: 2rem;
    color: #777;
}